
.App {
  min-height: 100%;
}

body {
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
  
}

header {
  display: flex;
  justify-content: center;

}
.header-div{
  position: relative;
 
}

li{
  list-style-type: none;
  border: solid black 1px;
  margin-right: 5%;
  margin-bottom: 2%;
  font-size: 25px;
  width: 80vw;
  background-color: white;

}

.sign-up{
  height: 45px;
  margin-left: 35%;
 padding-bottom: 20px;
}

.footer-div {
position: fixed;
width: 100%;
bottom: 0;
border-top: solid black 2px;
background-color: black ;
color: white;
display:flex;
margin-top: 10px;
justify-content: center;
}

h1 {
  font-size: 35px;
  border-bottom: dashed black 1px;
  display: flex;
  justify-content: right;
  font-family: 'Montserrat Alternates', sans-serif;
  text-shadow: 2px 2px rgb(246, 198, 4);
  
}

h2 {
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  align-content: center;

}

h4 {
  padding-left: 10px;

 
}
.toucan-logo {
  height: 60px;
  width: auto;
  position: absolute;
    left: 10;
    bottom: 0;
}


.list-input {
  margin-left: 40px;
  border: solid black 1px;
  font-size: 25px;
  width: 80vw;
  /* width: 90%; */
}

.item-form {
  
    width: 90%;
    position: relative;
}



.input-landing {
  margin: 0px;
  padding: 0px;
  width: 80vw;
  outline: none;
  height: 30px;
  color: black;
  margin-right: 10%;
}

.submit-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  border: none;
  top: 2px;
  height: 30px;
  cursor: pointer;
  color: white;
  background-color: black;
  transform: translateX(2px);
}


 .register-button {
  background-color: black;
  color: white;
  margin-left: 50px;
  margin-top: 2%;
} 


.fa-home {
  position: absolute;
  background: black;
  color: white;
  border-radius: 20%;
  bottom: 0;
  
  
  
}

.body-div {
  background-image: url("https://i.ibb.co/X2fwDZ8/vines.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
input {
  width: 90%;
  margin-right: 10px;
}