
header {
  display-flex: flex;
  justify-content: center;

}
.header-div{
  position: relative;
 
}

li{
  list-style-type: none;
  border: solid black 1px;
  margin-right: 5%;
  margin-bottom: 2%;
  font-size: 25px;

}

.sign-up{
  height: 45px;
  margin-left: 35%;
 padding-bottom: 20px;
}

.footer-div {
position: fixed;
width: 100%;
bottom: 0;
border-top: solid black 2px;
background-color: black ;
color: white;
display:flex;
flex-wrap: wrap;
justify-content: left;
margin-top: 10px;
}

h1 {
  font-size: 35px;
  border-bottom: dashed black 1px;
  display: flex;
  justify-content: right;
  
}

h2 {
  display: flex;
  justify-content: center;
}

h3 {

}

h4 {
  display: flex;
  /* justify-content: center; */
  padding: 10px;
 
}
.toucan-logo {
  height: 100%;
  width: auto;
  position: absolute;
    left: 10;
    bottom: 0;
}

.sign-up-div {
border-radius: 50%;

}

.body-div {
  margin-bottom: 10px;
}
